<h3> Modifiation du profil </h3>

<div> Mr/Mme {{ app.user.username }} {{ app.user.profession }} votre profile  est modifier avec succees ! </div>

<div> Agil Geolocalisation Team </div>

<div> c'est un mail automatique merci de ne pas repondre ! </div>